 <!-- ======= About Section ======= -->
  <section id="about" class="about" style="margin-top: 150px;margin-bottom: 100px;">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="https://jordantimes.com/sites/default/files/styles/news_inner/public/4UNIVERSIT.jpg?itok=QeFC9xBY"  class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Smoking Sessation Clinic JUST</h3><br>
          <p class="fst-italic">
           <strong>The message:</strong> <br>
            Contributing to reducing smoking rates within the university by providing scientific awareness
            The harms of tobacco and smoking in all its forms, and to help those who wish to quit smoking by providing
            Medical advice</p>
            <strong>Objectives</strong> <br>

          <ul>
            <li><i class="ri-check-double-line"></i> Spreading awareness of the dangers of smoking in all its forms</li>
            <li><i class="ri-check-double-line"></i> Holding lectures and seminars by specialists on the importance of quitting
Smoking from a health, psychological, financial and religious perspective</li>
            <li><i class="ri-check-double-line"></i> Participate in educating the community, especially school students, about the dangers of this scourge
            </li>
            <li><i class="ri-check-double-line"></i>Holding periodic activities to highlight the role of students in fighting this scourge
            </li>
          </ul>
          <p>
            <strong> Vision:</strong> <br>

Towards a smoke-free university community
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
