.centerCarousel {
  height: 100%;
}

.centerCarousel .CarouselPart1 {
  justify-content: space-between;
  width: 50%;
}
.CarouselPart2 {
  width: 50%;
}
@media (max-width: 767px) {
  .centerCarousel .CarouselPart1 {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .CarouselPart2 {
    display: none;
  }
}
@media (max-width: 991px) {
  .infoSite {
    margin-bottom: 15px;
  }
}
.CarouselPart2 img {
  max-width: 100%;
}
/*****************/
/* video.component.css */
#customControls button {
  background-color: transparent;
  border: none;
  font-size: 40px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

#customControls button i {
  color: #fff;
  font-size: 30px;
}
.headerSection {
  position: relative;
}
.headerSection::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 3px;
  background-color: #d9e3f1;
}
.headerSection1 {
  position: relative;
}
.headerSection1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 3px;
  background-color: #3a466a;
}
.btnSmall {
  background-color: rgb(55, 141, 252);
  border: 2px solid white;
  color: white;
  box-shadow: none;
  font-size: 11px;
}
.card-body {
  font-size: 14px;
  padding-bottom: 0;
}
.card-header {
  font-size: 16px;
}
