<carousel
  [isAnimated]="true"
  [pauseOnFocus]="true"
  *ngIf="!registerMode"
  class="bg-secondary"
>
  <div class="">
    <slide>
      <div class="py-5 bg-secondary" style="height: 650px">
        <div class="container centerCarousel d-flex align-items-center px-5">
          <div class="CarouselPart1">
            <h2 class="text-primary fw-bold">
              Smoking Cessation Clinics System
            </h2>
            <div class="lead">
              <p class="">
                Do you want to stop smoking or vaping, or are you a
                <span class="fw-bold">doctor</span> who wants help and join
                clinics to help individuals quit smoking? We're here for you
                every step of the way with tools, tips, and support. The
                important thing is to keep trying to quit smoking, until you
                stop smoking forever, and if you are a doctor you can register
                with us and help the clinics.
              </p>
              <a
                *ngIf="!(accountService.currentUser$ | async)"
                (click)="registerToggle()"
                class="btn btn-outline-primary"
                >Register Now</a
              >
            </div>
          </div>
          <div class="CarouselPart2">
            <img src="{{ './assets/Doctor_And_Patient.png' }}" alt="" />
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="py-5 bg-secondary" style="height: 650px">
        <div class="container centerCarousel d-flex align-items-center px-5">
          <div class="CarouselPart1">
            <h2 class="text-primary fw-bold">Are You Clinic</h2>
            <div class="lead">
              <p class="">
                You can make a patient schedule, accept or decline the
                appointment, help your patient get treatment, and even provide
                consultations.
              </p>
              <a
                *ngIf="!(accountService.currentUser$ | async)"
                class="btn btn-outline-primary"
                routerLink="/ClinicRegister"
                >Join Now</a
              >
            </div>
          </div>
          <div class="CarouselPart2">
            <img src="{{ './assets/clinic.png' }}" alt="" />
          </div>
        </div>
      </div>
    </slide>
  </div>
</carousel>

<div class="container mt-5 mb-5 pb-3 text-center" *ngIf="!registerMode">
  <h3 class="headerSection1 mb-4">Our Services</h3>
  <div class="row row-cols-1 row-cols-md-5 mb-3">
    <div
      class="col pt-2 pb-2 card bg-primary text-light shadow-sm rounded-0 d-flex justify-content-center align-items-center flex-column"
    >
      <div
        class="card-header d-flex justify-content-center align-items-center flex-column border-bottom-0 py-3 pb-0"
      >
        <h1><i class="fa fa-calendar text-light"></i></h1>
        <h5 class="my-0 fw-bold text-uppercase headerSection fs-6">
          Book an Appointment
        </h5>
      </div>
      <div class="card-body text-center">
        <p class="card-title pricing-card-title">
          Complete our online form and receive a callback to confirm your
          appointment
        </p>
      </div>
    </div>
    <div
      class="col pt-2 pb-2 card bg-primary text-light shadow-sm rounded-0 d-flex justify-content-center align-items-center flex-column"
    >
      <div
        class="card-header d-flex justify-content-center align-items-center flex-column border-bottom-0 py-3 pb-0"
      >
        <h1><i class="fa fa-clock-o text-light"></i></h1>
        <h4 class="my-0 fw-bold text-uppercase headerSection fs-6">
          Working Hours
        </h4>
      </div>
      <div class="card-body text-center">
        <p class="card-title pricing-card-title">
          Outpatient Clinics opening hours
          <br />Sat - Thu <br />Emergency 24/7
        </p>
      </div>
    </div>
    <div
      class="col pt-2 pb-2 card bg-primary text-light shadow-sm rounded-0 d-flex justify-content-center align-items-center flex-column"
    >
      <div
        class="card-header d-flex justify-content-center align-items-center flex-column border-bottom-0 py-3 pb-0"
      >
        <h1><i class="fa fa-hospital-o text-light"></i></h1>
        <h4 class="my-0 fw-bold text-uppercase headerSection fs-6">
          Find a Clinic
        </h4>
      </div>
      <div class="card-body text-center">
        <p class="card-title pricing-card-title">
          Get information about everything related to smoking cessation clinics
        </p>
      </div>
    </div>
    <div
      class="col card pt-2 pb-2 bg-primary text-light shadow-sm rounded-0 d-flex justify-content-center align-items-center flex-column"
    >
      <div
        class="card-header d-flex justify-content-center align-items-center flex-column border-bottom-0 py-3 pb-0"
      >
        <h1><i class="fa fa-comments-o text-light"></i></h1>
        <h4 class="my-0 fw-bold text-uppercase headerSection fs-6">
          Chat System
        </h4>
      </div>
      <div class="card-body text-center">
        <p class="card-title pricing-card-title">
          you can make messages between clinic and doctor
        </p>
      </div>
    </div>
    <div
      class="col card pt-2 pb-2 bg-primary text-light shadow-sm rounded-0 d-flex justify-content-center align-items-center flex-column"
    >
      <div
        class="card-header d-flex justify-content-center align-items-center flex-column border-bottom-0 py-3 pb-0"
      >
        <h1><i class="fa fa-share-square text-light"></i></h1>
        <h4 class="my-0 fw-bold text-uppercase headerSection fs-6">blogs</h4>
      </div>
      <div class="card-body text-center">
        <p class="card-title pricing-card-title">
          doctors and clinics can add posts.
        </p>
      </div>
    </div>
  </div>
</div>

<!--overView-->
<div class="overView bg-light pt-3 pb-3" *ngIf="!registerMode">
  <div class="container text-center mb-4 mt-5">
    <h3 class="headerSection1 mb-4">
      Welcome to <span class="fw-bold">SCCS</span>
    </h3>
    <P
      >The Smoking Cessation Clinic system will help people that needs guidance
      and assistance in quitting smoking and provide a powerful means that
      enables them to take control of their health, improve their quality of
      life and improve the impact on public health. Also, it will provide
      smoking cessation clinics with a system that facilitates their work,
      increases their efficiency, and increases the spread of these clinics</P
    >
    <video
      style="width: 100%; height: 550px"
      controls
      oncontextmenu="return false;"
    >
      <source src="{{ './assets/VideoSlider.mp4' }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<!-- ======= Contact Section ======= -->
<section
  *ngIf="!(accountService.currentUser$ | async)"
  id="contact"
  class="contact"
  style="margin-top: 100px; margin-bottom: 100px"
>
  <div class="container" data-aos="fade-up">
    <div class="text-center">
      <h3 class="headerSection1 mb-4">Contact Us</h3>
    </div>
    <div>
      <iframe
        style="border: 0; width: 100%; height: 270px"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d452.68887720289246!2d35.991476797580916!3d32.49452918124776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b89381daaaca3%3A0xde73f51934b0fe26!2sJUST%20Library!5e1!3m2!1sen!2sjo!4v1716642752148!5m2!1sen!2sjo"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div
      class="row mt-5 d-flex justify-content-center align-items-center flex-column text-center"
    >
      <div class="col">
        <div class="info d-flex justify-content-around align-items-center">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>JOrdan university of science & technology</p>
            <p>Irbid, Irbid, JO</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>innovation@just.edu.jo</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>(+962) 272 010 00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

<!-- ======= About Section ======= -->
<section
  id="about"
  class="about"
  style="margin-top: 150px; margin-bottom: 100px"
  *ngIf="!(accountService.currentUser$ | async)"
>
  <div class="text-center">
    <h3 class="headerSection1 mb-4">Contact Us</h3>
  </div>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <img
          src="https://jordantimes.com/sites/default/files/styles/news_inner/public/4UNIVERSIT.jpg?itok=QeFC9xBY"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        <h3>Smoking Sessation Clinic JUST</h3>
        <br />
        <p class="fst-italic">
          <strong>The message:</strong> <br />
          Contributing to reducing smoking rates within the university by
          providing scientific awareness The harms of tobacco and smoking in all
          its forms, and to help those who wish to quit smoking by providing
          Medical advice
        </p>
        <strong>Objectives</strong> <br />

        <ul>
          <li>
            <i class="ri-check-double-line"></i> Spreading awareness of the
            dangers of smoking in all its forms
          </li>
          <li>
            <i class="ri-check-double-line"></i> Holding lectures and seminars
            by specialists on the importance of quitting Smoking from a health,
            psychological, financial and religious perspective
          </li>
          <li>
            <i class="ri-check-double-line"></i> Participate in educating the
            community, especially school students, about the dangers of this
            scourge
          </li>
          <li>
            <i class="ri-check-double-line"></i>Holding periodic activities to
            highlight the role of students in fighting this scourge
          </li>
        </ul>
        <p>
          <strong> Vision:</strong> <br />

          Towards a smoke-free university community
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!--register form-->
<div *ngIf="registerMode">
  <app-register
    [usersFromHomeComponent]="users"
    (cancelRegister)="cancelRegisterMode($event)"
  ></app-register>
</div>
