<div class="card">
  <div class="card-body">
    <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
      No Messages yet... say hi by using the message box below
    </div>
    <ul
      #scrollMe
      style="overflow: scroll; height: 550px"
      [scrollTop]="scrollMe.scrollHeight"
      class="chat"
      *ngIf="(messageService.messageThread$ | async)!.length > 0"
    >
      <li *ngFor="let message of messageService.messageThread$ | async">
        <div>
          <span class="chat-img float-end">
            <img
              class="rounded-circle"
              src="{{ message.senderPhotoUrl || './assets/user.png' }}"
              alt="sender Photo"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  message.messageSent | timeago
                }}</span>
                <span
                  class="text-danger"
                  *ngIf="
                    !message.dateRead && message.senderUsername !== username
                  "
                  >(unread)</span
                >
                <span
                  class="text-success"
                  *ngIf="
                    message.dateRead && message.senderUsername !== username
                  "
                  >(read {{ message.dateRead | timeago }})</span
                >
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer mt-3">
    <form (ngSubmit)="sendMessage()" #messageForm="ngForm" autocomplete="off">
      <div class="input-group d-flex gap-3">
        <input
          type="text"
          name="messageContent"
          [(ngModel)]="messageContent"
          required
          class="form-control input-sm"
          placeholder="Send a private message"
        />

        <div class="input-group-append">
          <button
            [disabled]="!messageForm.valid"
            class="btn btn-primary"
            type="submit"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
