.card{
border:none;
}
.chat{
    list-style:none;
    padding:0;
    margin:0;
}
  .chat li {
    border-bottom: 1px dotted #b3a9a9;
    margin-bottom: 10px;
    padding: 0 10px;
  }

.rounded-circle{
    max-height:45px;
}
