<div class="container" style="margin-top: 120px; margin-bottom: 70px" style="height: 50vh">
  <div
    class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm"
  >
    <div class="lh-1 text-center">
      <h1 class="h6 mb-0 lh-1">POSTS</h1>
    </div>
  </div>
  <div class="mt-4 mb-4 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    <div class="d-flex text-muted pt-3" *ngFor="let post of posts">
      <img
        class="bd-placeholder-img flex-shrink-0 me-2 rounded"
        width="32"
        height="32"
        src="{{ post.url || './assets/user.png' }}"
        role="img"
      />
      <p class="w-75 pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark"
          >@{{ post.senderUserName }}</strong
        >
        <span class="mt-5">{{ post.description }}</span>
      </p>
      <p class="w-25 text-end align-self-center fs-6 text-muted">
        {{ post.created | date : "h:mm a" }}
        <br />
        {{ post.created | date : "longDate" }}
      </p>
    </div>
  </div>
</div>
